
<div class="mail-list mt-4">
    <a href="/AdminContact/Inbox" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.ContactCount</span> </a>

    <a href="/AdminContact/SendBox" class="list-group-item border-0 text-info p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i><b>Gönderilenler</b><span class="badge badge-info badge-sm float-right m-t-5">5</span></a>

    <a href="#" class="list-group-item text-danger border-0 p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i><b>Önemli</b> <span class="badge badge-danger badge-sm float-right m-t-5">4</span> </a>

    <a href="#" class="list-group-item text-warning border-0 p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i><b>Taslaklar</b><span class="badge badge-warning badge-sm float-right m-t-5">2</span></a>

    <a href="#" class="list-group-item text-dark border-0 p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i>
        <b>Çöp Kutusu</b><span class="badge badge-dark badge-sm float-right m-t-5">2</span>
    </a>
</div>
