@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
@{
    int count = 0;
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Servis İkonu</th>
        <th>Hizmet Adı</th>
        <th>Hizmet Açıklaması</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@(count += 1)</th>
            <td>@item.ServiceIcon</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>
                <a href="/Service/Delete/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a>
            </td>
            <td>
                <a href="/Service/Update/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a>
            </td>
            <td>
                <a href="/Service/Details/@item.Id" class="btn mb-1 btn-rounded btn-outline-warning">Detay</a>
            </td>
        </tr>
    }
</table>
<a href="/Service/Add" class="btn mb-1 btn-rounded btn-outline-primary">Yeni Hizmet Girişi</a>
